<?xml version="1.0"?>
<robot  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find youbot_description)/urdf/youbot_arm/arm.gazebo.xacro" />
	<xacro:include filename="$(find youbot_description)/urdf/youbot_arm/arm.transmission.xacro" />
	<xacro:include filename="$(find youbot_description)/urdf/youbot_arm/limits.urdf.xacro" />

	<xacro:macro name="youbot_arm" params="parent name *origin">

		<!-- joint between base_link and arm_0_link -->
		<joint name="${name}_joint_0" type="fixed" >
			<insert_block name="origin" />
			<parent link="${parent}" />
			<child link="${name}_link_0" />
			
		</joint>

		<link name="${name}_link_0">
			<inertial>
				<!--<origin xyz="0.023 0 0.006" rpy="0 0 0"/>-->
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="${link_0_mass}"/>
				<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
			</inertial>

			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://youbot_description/meshes/youbot_arm/arm0.dae" />
				</geometry>
				<material name="youBot/DarkGrey" />
			</visual>

			<collision>
				<!--<origin xyz="0.023 0 0.006" rpy="0 0 0"/>-->
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://youbot_description/meshes/youbot_arm/arm0_convex.dae" />
					<!--<cylinder length="0.078" radius="0.093"/>-->
				</geometry>
			</collision>			
			
		</link>

		<!-- INSERT YOUR JOINTS HERE -->

		<!-- INSERT YOUR LINKS HERE -->

		<!-- extensions -->
		<xacro:youbot_arm_gazebo name="${name}" />
		<xacro:youbot_arm_transmission name="${name}" />

	</xacro:macro>

</robot>
